%h1 Listing clubs

%table
  %thead
    %tr
      %th Name
      %th Foundation date
      %th Federation
      %th
      %th
      %th

  %tbody
    - @clubs.each do |club|
      %tr
        %td= club.name
        %td= club.foundation_date
        %td= club.federation.name
        %td= link_to 'Show', club
        %td= link_to 'Edit', edit_club_path(club)
        %td= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Club', new_club_path
