<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= player.birth_date %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= player.value %>
  </p>

  <p>
    <strong>Club:</strong>
    <%= player.club_id %>
  </p>

</div>
